.content__width {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 984px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .content__width {
    max-width: 928px;
    transition: all 0.3s linear;
  }
}

@media screen and (max-width: 1023px) {
  .content__width {
    width: 100%;
  }
}
