.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 424px) {
  .header {
    padding-top: 16px;
  }
}
