.intro {
  max-width: 984px;
  padding: 92px 0;
  margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 88px 0;
    max-width: 720px;
    transition: all 0.3s linear;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 24px;
    transition: all 0.3s linear;
  }
}

@media screen and (max-width: 424px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.3s linear;
  }
}
