.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin: 0 0 40px 0;
}

@media screen and (min-width:425px) and (max-width: 767px) {
  .intro__title {
    font-size: 40px;
    line-height: 1.09;
    transition: all 0.3s linear;
  }
}

@media screen and (max-width: 424px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
    transition: all 0.3s linear;
  }
}
